<a href="https://colab.research.google.com/github/Kevinsamuelgitau/Gitau/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_04_Samuel_Gitau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SAMUEL GITAU**
# **DATA SCIENCE PREP**
# **WEEK 4 INDEPENDENT PROJECT**

# QUESTION
In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions 

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

DATASETS USED

Autolib_dataset (2)
 http://bit.ly/autolib_dataset

# IMPORTING LIBRARIES

In [0]:
# To import required libraries
# ---
# 
import pandas as pd
import numpy as np

# LOADING DATASETS

In [131]:
# Dataset 1
# ---
# Loading dataset 1 
# ---
# 
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# DATA EXPLORATION

In [107]:
# To check information on our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [108]:
# To understand our dataset
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [109]:
# To check for null values
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# DATA CLEANING

In [132]:
#To remove white spaces in our columns
df.columns.str.replace(" "," ")

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [133]:
# To remove white spaces from our rows of string datatype


df['City']=df['City'].str.strip()
df['ID']= df['ID'].str.strip()
df['Kind']=df['Kind'].str.strip()
df['Public name']=df['Public name'].str.strip()
df['Rental status']=df['Rental status'].str.strip()
df['Status']=df['Status'].str.strip()
df.head(4)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3            51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37

[4 rows x 25 columns]

In [134]:
# To drop 'Displayed comment' and 'Scheduled at' which have too many null values
new_df = df.drop(["Displayed comment","Scheduled at"],axis=1)
new_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [135]:
# To confirm columns with null values have been dropped
new_df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [136]:
# To remove columns we don't require in analysis
new_df = df.drop(["Cars", "Address","Geo point","Charge Slots","Charging Status","Displayed comment", "Subscription status","Scheduled at", "Station type" ],axis=1)
new_df

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                   0               0                   0  ...   8   11     43
1                   6               0                   0  ...   6    7     24
2                   3               0                   2  ...   3   20     14
3                   3               1                   0  ...   4    4     37
4                   3               0                   0  ...   8   17     23
...               ...             ...                 ...  ...  ..  ...    ...
4995                2               0                   0  ...   6   11     26
4996                4               0                   0  ...   4   16     56
4997                1               0                   0  ...   1    7      1
4998                2               0                   0  ...   4   17     27
4999                4               0                   0  ...   8   10      2

[5000 rows x 16 columns]

In [137]:
# To remove duplicates from our dataset
df = new_df.drop_duplicates()
df

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                   0               0                   0  ...   8   11     43
1                   6               0                   0  ...   6    7     24
2                   3               0                   2  ...   3   20     14
3                   3               1                   0  ...   4    4     37
4                   3               0                   0  ...   8   17     23
...               ...             ...                 ...  ...  ..  ...    ...
4995                2               0                   0  ...   6   11     26
4996                4               0                   0  ...   4   16     56
4997                1               0                   0  ...   1    7      1
4998                2               0                   0  ...   4   17     27
4999                4               0                   0  ...   8   10      2

[5000 rows x 16 columns]

In [138]:
# To make our columns uniform

df.columns=df.columns.str.strip().str.upper().str.replace(" "," ")
df.head(1)

   BLUECAR COUNTER  UTILIB COUNTER  UTILIB 1.4 COUNTER  ... DAY HOUR MINUTE
0                0               0                   0  ...   8   11     43

[1 rows x 16 columns]

In [139]:
# To filter dataset according to station using ID, date using DAY column
# Reason-to get successive counters
df.sort_values(['ID', 'DAY'], ascending=[True, True], inplace=True)
df

      BLUECAR COUNTER  UTILIB COUNTER  UTILIB 1.4 COUNTER  ... DAY HOUR MINUTE
1352                0               0                   0  ...   2   19     28
4528                0               0                   0  ...   4    9      5
4880                0               0                   0  ...   7   18     40
1693                0               0                   0  ...   9    9      1
1843                4               0                   0  ...   1    1     36
...               ...             ...                 ...  ...  ..  ...    ...
1485                5               1                   0  ...   7   19     59
1944                0               0                   0  ...   8   19     34
1975                0               0                   0  ...   9   14     43
3023                0               0                   0  ...   9   14     26
4092                2               0                   0  ...   2   15     55

[5000 rows x 16 columns]

# DATA ANALYSIS

In [142]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
df1 = df[['CITY', 'BLUECAR COUNTER', 'HOUR']]
df_paris = df[df['CITY'] == 'Paris']
df1 = df_paris.groupby(['BLUECAR COUNTER'])['HOUR'].max().sort_values(ascending=False)
df1

BLUECAR COUNTER
6    23
5    23
4    23
3    23
2    23
1    23
0    23
7    17
Name: HOUR, dtype: int64

In [145]:
# What station is the most popular?
# Overall?
df_station = df.groupby(['ID'])['BLUECAR COUNTER'].max().sort_values(ascending=False)

df_station.head(1)

ID
paris-renault-2    7
Name: BLUECAR COUNTER, dtype: int64

In [147]:
# What station is the most popular?
# At the most popular picking hour?
df_sta = df.groupby(['ID'])['HOUR'].max().sort_values(ascending=False)

df_sta.head(1)

ID
paris-fabredeglantine-2    23
Name: HOUR, dtype: int64

In [150]:
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
# Overall?
df_sta1 = df[['ID', 'POSTAL CODE', 'BLUECAR COUNTER']]
df_postal = df_sta1.sort_values('BLUECAR COUNTER', ascending=False)
df_postal.head(1)

                               ID  POSTAL CODE  BLUECAR COUNTER
3967  sceaux-franklinroosevelt-60        92330                7